* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.flex { display: flex; }

/****** Header Section ******/
header {
    color: #ffffff;
    background: #1f2937;
}

/* Nav */
nav {
    justify-content: space-between;
    margin: 0 6.25rem;
}

ul {
    justify-content: space-between;
    list-style: none;
    gap: 1rem;
}

a { 
    text-decoration: none; 
    color: #e5e7eb;
}

/* Hero Section */

.hero-flex {
    flex: 1;
    margin: 4rem 0;
}

.left {
    margin-left: 5rem; 
    margin-right: 1rem;
}

.title {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
    text-align: left;
}

.web-button {
    border-radius: 0.6rem;
    color: #ffffff;
    background: #3882f6;
    border: none;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.right {
    margin-left: 1rem; 
    margin-right: 5rem;
    background: #808080;
    padding: 6rem 0;
}

.logo-text { text-align: center; }

/****** Main Section ******/
/* Info section */
.info-section {
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    font-size: 1.5rem;
}

h2 {
    color: #1f2937;
    font-size: 2.5rem;
    font-weight: bolder;
}

.boxes {
    justify-content: center;
    align-items: center;
    margin: 2rem 0 4rem;
    gap: 3rem;
}

.box {
    width: 12rem;
    align-items: center;
    text-align: center;
}

.square {
    width: 11.5rem;
    height: 11.5rem;
    border: 0.2rem solid #3882f6;
    border-radius: 0.6rem;
}

.image-subtext { color: #808080; }

/* Quote section */
.quote-section { 
    background: #e5e7eb; 
    align-items: center;
    text-align: start;
    padding: 6rem 0;
}

.customer-quote { margin: 0 10rem; }

.quote {
    font-size: 2.8rem;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

.customer {
    text-align: end;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-right: 3rem;
}

/****** Action Section ******/
.action-section {
    align-items: center;
}

.call-to-action {
    background: #3882f6;
    margin: 5rem 7rem;
    border-radius: 0.6rem;
    padding: 2.5rem 6rem;
    justify-content: space-between;
}

.action-header {
    color: #ffffff;
    font-weight: bold;
    font-size: 2rem;
}

.subtext-action {
    color: #e5e7eb;
    font-size: 1.5rem;
}

.action-button {
    background: #3882f6;
    color: #ffffff;
    border: 0.2rem solid #ffffff;
    border-radius: 0.8rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.6rem;
    padding: 0.6rem 2rem;
    cursor: pointer;
}